<div id="dashWrapper">
  <h1>Hello {{user.name}}</h1>
  <!-- <h2>Available Areas of Discussion</h2> -->
  <div id="topicsDash">
    <h2>Recent Topics</h2>
    <input type="text" ng-model="search.topic"  placeholder="Search Topics">
    <div id="topicsDisplay | filter: createdAt">
      <div ng-repeat="topic in topics | filter:search | limitTo: 5">
        <!-- <img src={{topic.url}} alt={{topic.name}} style="width: 80px; height: 100px; margin: 5px 0px;background-color: grey;"> -->
        <p>{{topic._user.name}} started the topic: <span class="topicHighlight">{{topic.topic}}</span> on {{topic.createdAt | date:'medium'}}.</p>
      </div>
      <a href="#!/topics">show all topics</a>
    </div>
  </div>
  <div id="messageDash">
    <h2>Recent Messages</h2>
    <div id="messageDisplay | filter: createdAt | limitTo: 5">
      <p ng-repeat="message in messages">{{message._user.name}} wrote: {{message.message}} on {{message.createdAt | date:'medium'}}</p>

    </div>
    <div>
      <span><a href="#!/topics">navigate to topics gallery</a></span>
    </div>
  </div>
</div>
<img id="dashLogo"src="./images/SBL2.png" alt="Soap Box Logo">
