
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Aaron Manill</h1>
        <div class="row center">
          <h5 class="header col s12 light">Full Stack Web Developer</h5>
        </div>

        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="./images/background1.jpg" alt="Unsplashed background img 1" style="padding-bottom:75px">
    </div>
</div>


  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>About Me</h4>
          <img class="circle" src="./images/me.jpg" alt="" height="150" width="150" />
          <p class="left-align light">A tinkerer by nature, I grew up surrounded by technology. After completing my B.S. in Finance at C.S.U.N. and working in the finance sector for two years as a CRM administrator I decided to shift my career focus towards the tech sector and enrolled at Coding Dojo in Burbank, California. I love working on challenging projects, and exploring elements from multiple perspectives, to stitch together solutions. I am currently seeking opportunities where I can both apply and further develop my skillsets.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="parallax-container valign-wrapper">

    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <!-- <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5> -->
        </div>
      </div>
    </div>
    <div class="parallax"><img src="./images/background2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Technologies</h4>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m3">
          <div class="icon-block">
            <h2 class="center brown-text"><img src="./images/Python.png" alt="" height="100" width="100"></h2>
            <h5 class="center">Django</h5>
              <ul style="list-style: none; text-align: center;">
                <li>PYTHON</li>
                <li>MYSQL</li>
                <li>FLASK</li>
                <li>AJAX</li>
                <li>DJNAGO</li>
              </ul>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="icon-block">
            <h2 class="center brown-text"><img src="./images/mean.png" alt="" height="100" width="176" style="padding-bottom:30px"></h2>
            <h5 class="center">MEAN</h5>

            <ul style="list-style: none; text-align: center;">
              <li>JAVASCRIPT</li>
              <li>MONGODB</li>
              <li>ANGULARJS</li>
              <li>NODE.JS</li>
              <li>EXPRESS.JS</li>
            </ul>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="icon-block">
            <h2 class="center brown-text"><img src="./images/swift.png" alt="" height="100" width="100"></h2>
            <h5 class="center">iOS</h5>

            <ul style="list-style: none; text-align: center;">
              <li>SWIFT</li>
              <li>XCODE</li>
              <li>iOS</li>
              <li>CORE DATA</li>
              <li>IOS SOCKETS</li>
            </ul>
          </div>
        </div>
        <div class="col s12 m3">
          <div class="icon-block">
            <h2 class="center brown-text"><img src="./images/java.png" alt="" height="100" width="100" ></h2>
            <h5 class="center">Java Springboot  </h5>

            <ul style="list-style: none; text-align: center;">
              <li>JAVA</li>
              <li>MYSQL</li>
              <li>SPRINGBOOT</li>
              <li>STS</li>
              <li>JSP</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m4">
          <h2 class="center brown-text"><img src="./images/html.png" alt="" height="75" width="75"></h2>
          <p style="text-align: center;">HTML5</p>
        </div>
        <div class="col s12 m4">
          <h2 class="center brown-text"><img src="./images/css3.png" alt="" height="75" width="75"></h2>
          <p style="text-align: center;">CSS3</p>
        </div>
        <div class="col s12 m4">
          <h2 class="center brown-text"><img src="./images/bootstrap.png" alt="" height="75" width="75"></h2>
          <p style="text-align: center;">Bootstrap</p>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m4">
          <h2 class="center brown-text"><img src="./images/materialize.png" alt="" height="75" width="75" style="padding-bottom:37px"></h2>
          <p style="text-align: center;">Materialize</p>
        </div>
        <div class="col s12 m4">
          <h2 class="center brown-text"><img src="./images/socketio.png" alt="" height="75" width="75"></h2>
          <p style="text-align: center;">Socket.io</p>
        </div>
        <div class="col s12 m4">
          <h2 class="center brown-text"><img src="./images/jquery.png" alt="" height="75" width="75"></h2>
          <p style="text-align: center;">jQuery</p>
        </div>
      </div>
    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <!-- <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5> -->
        </div>
      </div>
    </div>
    <div class="parallax"><img src="./images/background3.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send w-text"></i></h3>
          <h4 class="white-text">Contact Me</h4>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6">
          <div class="icon-block">
            <h2 class="center white-text"><i class="material-icons">email</i></h2>
            <h5 class="center">Shoot Me An Email</h5>

              <p class="light" style="text-align: center;">amanill818@gmail.com</p>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="icon-block">
            <h2 class="center white-text"><i class="material-icons">call</i></h2>
            <h5 class="center" >Give Me A Call Or Text</h5>

              <p class="light" style="text-align: center;">(818) 439-0946</p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      <!-- © Aaron Manill -->
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
