
<div class="welcome">
  <h1 style="color: #b5b8f5;" >Welcome to Aaron Manill's Portfolio</h1>
  <h4 style="color: gold">Developer for PYTHON, MEAN, IOS</h4>
</div>

<div class="aboutme">
  <h1 style="text-align: center; color:white;">About Me</h1>

  <p style="color: silver; font-size: 1.2em" >A tinkerer by nature, I grew up surounded by technology. After completing my B.S. in Finance at C.S.U.N. and working in the finance sector for two years as a CRM administrator I decided to shift my carrer focus towards the tech sector and enrolled at Coding Dojo in Burbank, California. I love working on challenging projects, and exploring elements from multiple perspectives, to stitch together solutions. I am currently seeking opportunities where I can both apply and further develop my skillsets.</p>


</div>


<div id="languages">

  <h1 style="text-align: center; color:white;">Technologies</h1>

  <!-- Python -->
  <div class="language">
    <h2>Python</h2>
    <img src="./images/Python.png" alt="" height="200" width="200">
    <ul style="list-style: none;">
      <li>PYTHON</li>
      <li>MYSQL</li>
      <li>FLASK</li>
      <li>AJAX</li>
      <li>DJNAGO</li>
    </ul>

  </div>
  <!-- MEAN -->
  <div class="language">
    <h2>MEAN</h2>
    <img src="./images/mean.png" alt="" height="170" width="300" style="padding-bottom:30px">
    <ul style="list-style: none;">
      <li>JAVASCRIPT</li>
      <li>MONGODB</li>
      <li>ANGULAR</li>
      <li>NODE.JS</li>
      <li>EXPRESS.JS</li>
    </ul>
  </div>
  <!-- IOS -->
  <div class="language">
    <h2>Swift</h2>
    <img src="./images/swift.png" alt="" height="200" width="200">
    <ul style="list-style: none;">
      <li>SWIFT</li>
      <li>XCODE</li>
      <li>iOS</li>
      <li>CORE DATA</li>
      <li>IOS SOCKETS</li>

    </ul>
  </div>
  <!-- Java -->
  <div class="language">
    <h2>Java (in Progress)</h2>
    <img src="./images/java.png" alt="" height="200" width="200">
    <ul style="list-style: none;">
      <li>Spring (in progress)</li>
    </ul>
  </div>


</div>
