<div class="projects">
  <h1 style="color: white;">Projects page Place Holder</h1>
  <h2 style="color: white;">Soap Box</h2>
  <h3 style="color: white;"> A multi topic message and chat forum</h3>
  <div class="iframe-wrapper">
    <iframe id="soapbox" src="http://54.214.118.132" width="1800" height="820" frameborder="0" ></iframe>
  </div>

</div>

<div class="projects">
    <h2 style="color: white;">SMParking</h2>
    <h3 style="color: white;"> Parking information and routing for Santa Monica City Public Parking Lots.</h3>
  <video src="../images/smparking demo.mov" autoplay poster="posterimage.jpg" loop="true" height="800">

  </video>
</div>
