<div id="topicPageWrapper">
  <div>
    <h1 style= "color:white;">{{topic.topic}}</h1>
    <form>
      <span style="color:white">Respond to this Topic</span> |<textarea name="name" rows="6" cols="80" ng-model="newMessage.message" placeholder="Enter response here..."></textarea>
      <button type="submit" name="Submit" ng-click="addMessage(newMessage, topic._id)">Submit Message</button>
    </form>
  </div>
  <div id="messageDisplay" style="overflow-y: scroll">
    <div ng-repeat="message in messages | orderBy: '-createdAt'">
      <p style="color:blue">{{message._user.name}}:</p>
      <p style="color:blue">{{message.message}}</p>
      <p style="color:blue">{{message.createdAt | date:'medium'}}</p>
      <div>
        <form>
          <p>Want to comment? |</p>
          <textarea name="name" rows="4" cols="40" ng-model="newComment.comment" placeholder="Enter comment here..."></textarea>
          <button type="submit" name="Submit" ng-click="addComment(newComment, message._id )">Submit Comment</button>
        </form>
      </div>
      <!-- <a href="#" ng-click="commentsDisplay = !commentsDisplay">Comments</a> -->
      <button id='commentsButton' ng-click="seeComments = !seeComments">See Comments</button>
      <div ng-show="seeComments" id="commentsWrapper">
        <div id="commentsDisplay" style="overflow-y: scroll">
            <!-- {{message._id}} -->
          <div ng-repeat="comment in message._comments">
            <p style="color:white"><a href="#!/user/{{comment._user._id}}">{{comment._user.name}}</a> commented: {{comment.comment}}</p>
            <p style="color:crimson">Posted at: {{comment.createdAt | date:'medium'}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
