<div id="userPageWrapper">
  <div id="userPageInfo">
    <p>User Profile for {{user.name}}</p>
    <p>Joined: {{user.createdAt | date:'medium'}}</p>
  </div>
  <div id="userTopicsDisplay" style="overflow-y: scroll; height: 150px;">
    <h2>Posted Topics</h2>
    <table id="userTopicsTable">
      <thead>
        <th>Topic</th>
        <th>Start Date</th>
      </thead>
      <tr ng-repeat="topic in user._topics | limitTo: 10 |orderBy: '-createdAt'">
        <td><a href="#!/topic/{{topic._id}}">{{topic.topic}}</a></td>
        <td>{{topic.createdAt | date:'medium'}}</td>
      </tr>
    </table>
  </div>
  <div id="userMessagesDisplay" style="overflow-y: scroll; height: 150px;">
    <h2>Posted Messages</h2>
    <table id="userMessagesTable">
      <thead>
        <th>Response</th>
        <th>Post Date</th>
      </thead>
      <tr ng-repeat="message in user._messages | orderBy: '-createdAt'">
        <td><a href="#!/topic/{{message._topic}}">{{message.message}}</a></td>
        <td>{{message.createdAt | date:'medium'}}</td>
      </tr>
    </table>
  </div>
  <div id="userCommentsDisplay" style="overflow-y: scroll; height: 150px;">
    <h2>Posted Comments</h2>
    <table id="userCommentsTable">
      <thead>
        <th>Comment</th>
        <th>Post Date</th>
      </thead>
      <tr ng-repeat="comment in user._comments | orderBy: '-createdAt'">
        <td>{{comment.comment}}</td>
        <td>{{comment.createdAt | date:'medium'}}</td>
      </tr>
    </table>
  </div>
</div>
